:root {
  --anim-short: 100ms;
  --anim-medium: 300ms;
  --anim-long: 500ms;

  --corner-radius: 4px;
}

/* Colors */
@media (prefers-color-scheme: light) {
  :root {
    --color-background-0: #f0f0f0;
    --color-background-1: #fafafa;
    --color-background-2: #ffffff;
    --color-foreground-0: #575f66;
    --color-foreground-1: #8a9199;
    --color-foreground-2: #abb0b6;
    --color-accent: #ff9940;
    --color-red: #ea6c6d;
    --color-green: #99bf4d;
    --color-yellow: #eca944;
    --color-blue: #3199e1;
    --color-purple: #9e75c7;
    --color-cyan: #46ba94;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background-0: #191e2a;
    --color-background-1: #1f2430;
    --color-background-2: #232834;
    --color-foreground-0: #cbccc6;
    --color-foreground-1: #707a8c;
    --color-foreground-2: #5c6773;
    --color-accent: #ffcc66;
    --color-red: #ed8274;
    --color-green: #a6cc70;
    --color-yellow: #fad07b;
    --color-blue: #6dcbfa;
    --color-purple: #cfbafa;
    --color-cyan: #90e1c6;
  }
}
